<link rel="alternate" href="/feeds/articles.xml" type="application/atom+xml" title="Article Posts (Atom)" />
<link rel="alternate" href="/feeds/micro.xml" type="application/atom+xml" title="Micro Posts (Atom)" />
<link rel="alternate" href="/feeds/full.xml" type="application/atom+xml" title="All Posts (Atom)" />
<link rel="alternate" href="/feeds/articles.json" type="application/json" title="Article Posts (JSON)" />
<link rel="alternate" href="/feeds/micro.json" type="application/json" title="Micro Posts (JSON)" />
<link rel="alternate" href="/feeds/full.json" type="application/json" title="All Posts (JSON)" />
