<meta name="msapplication-TileImage" content="/images/favicon/144x144.png">
<link rel="mask-icon" href="/images/logo.svg" color="black">
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/72x72.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/152x152.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/images/favicon/48x48.png">
<link rel="icon" type="image/png" sizes="64x64" href="/images/favicon/64x64.png">
<link rel="icon" type="image/png" sizes="144x144" href="/images/favicon/144x144.png">
<link rel="icon" type="image/png" sizes="195x195" href="/images/favicon/195x195.png">
<link rel="icon" type="image/png" sizes="228x228" href="/images/favicon/228x228.png">
