{% include post-type.liquid %}

{% if is_micro_post %}
  <!-- Begin article excerpt -->
  <section class="h-entry micro-excerpt">
{% else %}
  <!-- Begin micro post excerpt -->
  <section class="h-entry article-excerpt">
{% endif %}

<!-- Post date -->
<h4>
  <a href="{{ post.url }}" class="u-url dt-published">{{ post.date | date: '%-d %B %Y, %H:%M' }}</a>
</h4>

<!-- Article title -->
{% unless is_micro_post %}
<h2>
  <a href="{{ post.url }}">{{ post.title }}</a>
</h2>
{% endunless %}

<!-- Post excerpt -->
{% if post.description %}
  {% assign post_text = post.description %}
  {{ post_text }} 
{% else %}
  {% assign post_text = post.content | truncatewords:site.inline_article_length %}
  {{ post_text }}
	{% if raw.size > post_text.size %}
	  <a href="{{ post.url }}">(more)</a>
	{% endif %}
{% endif %}

<!-- Close separators -->
</section>
