/* Third Party Includes */

{% include normalize.css %}
{% include solarized.css %}

/* Variables */

{% assign site-colour = site.primary_colour %}
{% assign site-font = "Source Sans Pro" %}
{% assign site-font-code = "Source Code Pro" %}
{% assign site-font-web-regular = "https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2" %}
{% assign site-font-web-bold = "https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2" %}
{% assign site-font-web-code = "https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2" %}
{% assign site-small = "42rem" %}
{% assign site-medium = "48rem" %}
{% assign site-large = "64rem" %}

/* Web Fonts */

@font-face {
  font-family: '{{ site-font }}';
  font-style: normal;
  font-weight: 400;
  src: local('{{ site-font }}'), local('{{ site-font | replace: ' ', '' }}-Regular'), url({{ site-font-web-regular }}) format('woff2');
}

@font-face {
  font-family: '{{ site-font }}';
  font-style: normal;
  font-weight: 700;
  src: local('{{ site-font }} Bold'), local('{{ site-font | replace: ' ', '' }}-Bold'), url({{ site-font-web-bold }}) format('woff2');
}

@font-face {
  font-family: '{{ site-font-code }}';
  font-style: normal;
  font-weight: 400;
  src: local('{{ site-font-code }}'), local('{{ site-font-code | replace: ' ', '' }}-Regular'), url({{ site-font-web-code }}) format('woff2');
}

/* Functions */

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin headings-all($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i}{
      @content;
    }
  }
}

/* Styles */

@include headings-all(){
  margin-top: 2rem; 
  margin-bottom: 1rem; 
  font-weight: normal;
  color: {{ site-colour }};
  @extend %headings !optional;
}

body { 
  color: black; 
  padding: 0; 
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: {{ site-font }}, sans-serif; 
  text-align: justify;
  margin-left: auto;
  margin-right: auto;

  /* Browser-specific Hyphenation Fix */
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

pre { 
  word-wrap: normal; 
  padding: 2rem 1rem;
  font-size: 1rem;
}

pre, code {
  font-family: {{ site-font-code }}, monospace; 
}

header, footer { 
  padding: 4rem 2rem;
  text-align: center; 
}

header %headings {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 0; 
}

a {
	color: {{ site-colour }};
  text-decoration: none;
}

a:hover { 
  text-decoration: underline;
}

img {
  width: 100%;
  max-width: {{ site-large }};
  margin: 2rem auto;
  display: block
}

li {
  margin-right: 1rem;
}

svg {
  width: 1.5rem;
  height: auto;
  vertical-align: middle;
  fill: {{ site-colour }};
}

svg rect {
  stroke: {{ site-colour }};
}

blockquote {
  font-style: italic;
}

blockquote, .micro-excerpt > :not(img) {
  padding: 1rem 2rem;
  margin: 0 auto;
  border-style: solid;
  border-width: 0px 0px 0px 7px;
  border-color: {{ site-colour }};
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

section > :not(img), article > :not(img) {
  max-width: {{ site-medium }};
  margin: 1rem auto;
}

.article-excerpt > %headings, .micro-excerpt > %headings {
  margin: 0 auto; 
}

.article-excerpt {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.image-list {
  white-space: nowrap;
  overflow: auto;
}

.image-list img, {
  display: inline;
  margin: auto;
  padding: 1rem;
  max-height: 50vh;
  width: auto;
  vertical-align: middle;
}

#genre {
  font-weight: bold;
}

#categories {
  color: gray;
  padding-top: 0;
}

/* Responsive Overrides */

@include respond-to({{ site-large }}) {

  header %headings {
    font-size: 3rem;
  }

  section > :not(img), article > :not(img) {
    max-width: 80%;
  }

}

@include respond-to({{ site-small }}) {

  body {
    text-align: left;
    font-size: 1rem;
  }

  pre { 
    font-size: 0.6rem;
  }

  header, footer {
    padding: 1rem 0rem;
  }

  header %headings {
    font-size: 2rem;  
  }

  .article-excerpt {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .article-excerpt > %headings, .micro-excerpt > %headings {
    padding: 0;
  }

  .micro-excerpt > :not(img) {
    border-width: 0px 0px 0px 0px;
  }

}
