@import "{{ site.theme }}";

/* Local style overrides */

{% assign site-colour = "crimson" %}
{% assign site-font = "Source Sans Pro" %}
{% assign site-font-web-regular = "https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2" %}
{% assign site-font-web-bold = "https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2" %}

@font-face {
  font-family: '{{ site-font }}';
  font-style: normal;
  font-weight: 400;
  src: local('{{ site-font }}'), local('{{ site-font | replace: ' ', '' }}-Regular'), url({{ site-font-web-regular }}) format('woff2');
}

@font-face {
  font-family: '{{ site-font }}';
  font-style: normal;
  font-weight: 700;
  src: local('{{ site-font }} Bold'), local('{{ site-font | replace: ' ', '' }}-Bold'), url({{ site-font-web-bold }}) format('woff2');
}

@mixin all-headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i}{
      @content
    }
  }
}

@include all-headings(){
  @extend %headings !optional;
}

body { 
	font-family: {{ site-font }}, sans-serif; 
	color: black; 
}

.page-header { 
	background-color: white; 
	background-image: none; 
}

a {
	color: {{ site-colour }};
}

.main-content %headings { color: {{ site-colour }}; }

.site-footer, .pagination {
	text-align: center;
}

.article-excerpt %headings { margin: 0; }

.article-excerpt {
  margin: 4rem 0rem 4rem 0rem;
}

@media screen and (max-width: 42em) { .article-excerpt { margin: 0; } }

.micro-excerpt {
  padding: 1rem 0rem 1rem 2rem;
  margin: 0rem 0rem 0rem 1rem;
  border-style: solid;
  border-width: 0px 0px 0px 7px;
  border-color: {{ site-colour }}
}

@media screen and (max-width: 42em) { .micro-excerpt { padding: 0; margin: 0; border-width: 0px; } }
