---
layout: data
---

@import "{{ site.theme }}";

/* Local style overrides */

{% assign site-colour = "crimson" %}
{% assign site-font = "Source Sans Pro" %}

@mixin all-headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i}{
      @content
    }
  }
}

@include all-headings(){
  @extend %headings !optional;
}

body { 
	font-family: {{ site-font }}, sans-serif; 
	color: black; 
}

.page-header { 
	background-color: white; 
	background-image: none; 
}

a {
	color: {{ site-colour }};
}

.main-content %headings { color: {{ site-colour }}; }

.site-footer, .pagination {
	text-align: center;
}
