---
layout: compress
---
{% include post-type.liquid %}

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
  	<title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include icons.html %}
    {% include feeds.html %}
	  {% seo title=false %}
    {% assign author = site.data.authors[site.author] %}
    {% if author %}
      {% for url in author.urls %}
        <link rel="me" href="{{ url }}"/>
      {% endfor %}
      <link type="text/plain" rel="author" href="humans.txt" />
    {% endif %}
    <style>
      {% capture site-styles %}{% include style.scss %}{% endcapture %}
      {{ site-styles | scssify }}
    </style>
  </head>
  <body>
    <header>
      <h2><a href="/">{{ site.title | default: site.github.repository_name }}</a></h2>
    </header>
    {% unless page.layout == "index" %}<article>{% endunless %}
      {% unless is_micro_post %}
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      {% endunless %}
      <!-- Workaround for kramdown wrapping <img> within <p> -->
      {% assign content_with_images_unwrapped = content | replace:'<p><img','<img' %}
      {{ content_with_images_unwrapped }}
    {% unless page.layout == "index" %}</article>{% endunless %}
    <footer>
      {% if paginator.total_posts > site.paginate %}
        {% include paginate.html %}
      {% endif %}
      <p>&copy; {{ site.time | date: '%Y' }} @dmcgk</p>
    </footer>
  </body>
</html>
